@media(max-width: 1000px) {
  .top-text {
    font-size: 25px;
  }
}

@media(max-width: 780px) {
  .header-menu-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .top-wrapper {
    background-size: 200%;
  }

  .top-text {
    font-size: 20px
  }

  .role-table {
    height: 600px;
  }

  .kebind-table {
    width: ;
  }
}

@media(max-width: 400px) {
  .top-wrapper {
    background-size: 300%;
  }

  .footer-link {

  }
}
