@media(max-width: 1000px) {

}

@media(max-width: 780px) {
  .header-menu-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .top-wrapper {
    background-size: 200%;
  }
}

@media(max-width: 400px) {
  .top-wrapper {
    background-size: 300%;
  }
}
